.table-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.search-field {
    margin: 1rem;
    padding-left: 0.5rem;
    border: 1px solid black;
    border-radius: 1rem;
}

.media-table {
    border: 1px solid black;
    border-radius: 1rem;
}

table {
    min-width: 30vw;
    min-height: 10vh;
    max-width: 70vw;
    height: auto;
    width: auto;
}


th {
    border-bottom: 1px solid black;
}

tr {
    border-bottom: 1px solid rgb(226, 218, 218);
}

td {
    text-align: center;
    padding: 0.5rem;
}